@model IEnumerable<FamilyPlanner.Models.Chores>
<div id="progressBarToDo">
    <p>@(ViewBag.Percent)% Complete</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width:@(ViewBag.Percent)%"></div>
    </div>
</div>

<table class="table">
    <tr>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @if (!item.IsDone)
                {
                    @Html.DisplayFor(modelItem => item.Chore)
                }
                else
                {
                    <div class="CompletedToDo">@Html.DisplayFor(modelItem => item.Chore)</div>
                }
            </td>

            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script src="~/CustomScripts/CheckBoxListenerChores.js"></script>

