@model FamilyPlanner.Models.Chores

@{
    ViewBag.Title = "Index";
}

<h2>Kids Chores</h2>

<div id="tableDiv"></div>
<div id="todoCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "Chores", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
   
    }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.Chore)@*, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.Chore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chore, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.AntiForgeryToken()*@

            <div>
                @Html.Label("Assigned To")@*, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.AssignedTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.AntiForgeryToken()*@

            <div>
                @Html.Label("Point Value")@*, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.PointValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PointValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-default" value="Add" />
            </div>
        </div>

    }
</div>
@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/CustomScripts/BuildChoresTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

}
